.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(155, 148, 148, 0.842);
}
.avatar {
  display: block;
  width: 100%;
  border-radius: 50%;
  background-color: honeydew;
}
.name {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0 0 0;
}
.tag {
  margin: 5px 0 0 0;
}
.location {
  margin: 10px 0 0 0;
}
